body {
  background-color: rgb(192, 190, 190);
}

.App {
  text-align: center;
}

.button {
  height: 40px;
  margin-left: 20px;
  margin-top: 80px;
} 

.startingContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
}

.weekContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  border: 2px solid black;
  width: fit-content;
  padding: 20px;
  /* background-color: brown; */
}

.weekBox {
  height: 10px;
  width: 10px;
  border: 1px solid black;
  margin: 0 auto;
  position: absolute;
}

.weekBox:hover {
  height: 14px;
  width: 14px;
}

.alreadyLivedWeekBox {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color:  rgb(255, 255, 255);
  border: 1px  solid rgb(255, 255, 255);
}

.alreadyLivedWeekBox:hover {
  height: 14px;
  width: 14px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(52, 3px);
  grid-gap: 1rem;
  padding: 10px;
}

.grid-container:nth-child(3n+3) {
  background-color: red;
}